@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VD.Web</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #d9534f;">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="Logout" asp-controller="Account">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                                    Wyloguj @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="Register" asp-controller="Account" class="nav-link" style="color: #f7f7f7;">Zarejestruj</a>
                        </li>
                        <li>
                            <a asp-action="Login" asp-controller="Account" class="nav-link" style="color: #f7f7f7;">Zaloguj</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
        <div class="jumbotron text-center">
            <img class="card-img-top" src="~/images/logo.png" style="width:100px;height:100px" />
            <h1 class="display-4">Wirutalny Dziekanat AGH</h1>

        </div>
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
