<div class="text-center">
    <h1 class="text-danger display-4">Access denied!</h1>
    <img class="card-img-top" src="~/images/accessdenied.jpg" style="height:300px; width:300px" />
    <h6>You do not have permission to view this page</h6>
</div>