@model EditRoleViewModel;
@{
    ViewData["Title"] = "AGH VD | ADMIN | Edit Role";
}

<h3>Edit Role:</h3>

<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="ID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ID" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger" />
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-dark">Update</button>
            <a asp-controller="Administration" asp-action="Roles" class="btn btn-dark">Cancel</a>
        </div>
    </div>
    <div class="card text-dark">
        <div class="card-header">
            <h4>Users in this role:</h4>
        </div>
        <div class="card-body">
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <h5 class="card-title">@user</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-controller="Administration" asp-action="ManageRoleUsers" asp-route-roleID="@Model.ID" class="btn btn-dark">Add or Remove Users</a>
        </div>
    </div>
</form>